<header>
  <nav class="flex justify-between bg-mainColor text-white p-4">
    <ul class="flex gap-3">
      <li>
        <i class="fa-solid fa-book text-2xl"></i>
      </li>
      <li>
        Survey Rails App.
      </li>
    </ul>
    <ul class="flex gap-3">
      <li class="bg-signIn rounded">
        <%= button_to 'Sign in', '#', class: "py-1 px-4 text-sm text-black font-semibold" %>
      </li>
      <li class="bg-signUp rounded">
        <%= button_to 'Sign up', '#', class: "py-1 px-4 text-sm text-black font-semibold" %>
      </li>
    </ul>
  </nav>
</header>