<header>
  <nav class="flex justify-between bg-mainColor text-white p-4">
    <ul>
      <%= link_to root_path,  class: "flex gap-3" do %>
        <i class="fa-solid fa-book text-2xl"></i> Survey Rails App.
      <% end %>
    </ul>
  </nav>
</header>
