<ul class="flex flex-col justify-center">
  <li class="flex justify-center py-2">
    <%= link_to root_path, id: "home_icon" do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
  </li>

  <li class="flex justify-center py-2">
    <%= link_to root_path, id: "evaluations_icon" do %>
      <i class="fa-solid fa-list-check"></i>
    <% end %>
  </li>

  <li class="flex justify-center py-2">
    <%= link_to root_path, id: "chapters_icon" do %>
      <i class="fa-solid fa-square-poll-horizontal"></i>
    <% end %>
  </li>

  <li class="flex justify-center py-2">
    <%= link_to root_path, id: "surveys_icon" do %>
      <i class="fa-solid fa-folder-open"></i>
    <% end %>
  </li>
</ul>