<section>
  <%= link_to audits_index_path(step: step + 1) do %>
    Next
  <% end %>
</section>
<section>
  <div>
    <h4>Welcome!</h4>
    <h2><%= survey.name %></h2>
    <p>
      <%= survey.description %>
    </p>

    <p>
      You are going to answer this Survey.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Debitis repudiandae quibusdam veniam quam. Assumenda blanditiis <br>
      officia mollitia similique itaque recusandae ratione?
      Expedita consequuntur dolorum illum fuga velit! Distinctio, tempora suscipit?
    </p>
  </div>
</section>
