<main>

  <% if @survey.sections.any? %>

      <% if @step == 0 %>
        <%= render "welcome", { survey: @survey, step: @step } %>
      <% else %>

        <% if @survey.survey_sections.find_by(order: @step).section.evaluation? %>
          <%= render "evaluation", { evaluation: @survey.survey_sections.find_by(order: @step).section,
                                      step: @step, token: @token, survey: @survey } %>
        <% else %>
          <%= render "chapter", { chapter: @survey.survey_sections.find_by(order: @step).section,
                                      step: @step, survey: @survey } %>
        <% end %>




      <% end %>

  <% else %>
    <div>
        <p>
          There's nothing to show
      </p>
    </div>
  <% end %>

</main>
