<main>

  <% if @survey.sections.any? %>

      <% if @step == 0 %>
        <%= render "welcome", { survey: @survey, step: @step } %>




      <% end %>

  <% else %>
    <div>
        <p>
          There's nothing to show
      </p>
    </div>
  <% end %>

</main>
