<section id="sections" class="border-2 w-9/12 mx-auto flex flex-col rounded-lg shadow-lg my-20 p-10">
	<% sections.each do |section| %>
		<%= render "survey_sections/survey_section", section: section %>
	<% end %>
</section>