<div id="<%= section.id %>" class="flex border-2 border-red-200 p-2 m-2">

  <div class="w-1/12 border-2">
    Icons
  </div>

  <div class="w-7/12 border-2">
    Titulo
  </div>

  <div class="w-3/12 border-2">
    Fecha
  </div>

  <div class="w-1/12 border-2">
    Borrar
  </div>

</div>