<%= turbo_frame_tag 'modal' %>
<section id="surveys_all">
  <div class="py-10 flex flex-col w-full">
    <h2 class="py-5 text-3xl text-surveyStrong font-bold text-center">Surveys</h2>
    <p class="text-sm text-center text-surveyStrong font-semibold">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde excepturi 
      omnis ex provident cupiditate perferendis porro dolores possimus aut minima <br>
      ea facere, sequi molestias! Perspiciatis, magni odit? Nisi, nam placeat!
    </p>
    <div class="flex justify-center py-5">
      <%= link_to new_survey_path, id:"create_survey_welcome", data: {turbo_frame: 'modal'} do %>
        <div class="p-3 bg-surveyStrong text-white text-sm font-semibold rounded-lg">
          Create survey
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <% surveys.each do |survey| %>
      <%= render "survey", survey: survey %>
    <% end %>
  </div>
</section>
