<%= turbo_frame_tag 'participants' do %>
  <% @survey.logs.each do |log| %>
    <p>
      <%= log.email %> <br>
      <%= log.token %> <br>
    </p>
  <% end %>

  <div>
    <%= link_to :back do %>
      Back
    <% end %>
  </div>
<% end%>
